.b-my-work {
    width: 650px;
    float: right;
    background-color: #EFF3F7;
    border-radius: 5px;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.b-my-work h2{
    margin: 0;
    font-family: 'fira_sansbook';
    font-size: 27px;
    color: #3BA8C0;
    padding: 20px 0px 15px 20px;
    border-bottom: 2px solid #3BA8C0;
    width: 210px;
}

.portfolio .project {
    width: 180px;
    height: 125px;
    display: inline-block;
    margin: 20px 0px 0px 20px;
    border: 3px solid #2db9ed;
    border-radius: 5px;
}

.b-project {
    display: inline-block;
    vertical-align: top;
}

.google-description {
    margin: 0;
    padding: 0;
}

.fon {
    width: 180px;
    height: 125px;
    background: rgba(108,183,216,.5);
    margin-top: -129px;
    opacity: 0;
    transform: scale(0);
    margin-bottom: 5px;
}

.portfolio .project:hover .fon {
    opacity: 1;
    transform: scale(1);
}

.description {
    margin-left: 20px;
}

.link-project {
    text-decoration: none;
    font-family: 'fira_sanslight_italic';
    font-size: 13px;
    color: #47ADC4;
    display: block;
    text-align: center;
}

.name-project {
    font-family: 'fira_sanslight';
    font-size: 15px;
    display: block;
    width: 140px;
    margin: 0 auto;
}

.project-one {
    text-align: center;
    
}

.project-two {
    text-align: center;
}

.project-three {
    text-align: center;
}

.project-four {
    text-align: center;
}

.site {
    position: absolute;
    top: 200px;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 5px;
    padding: 3px;
    opacity: 1;
    transform: scale(0);
    transition: all 0.6s;
    z-index: 1;
    text-decoration: none;
    display: block;
}

.site-one {
    left: 585px;
    top: 310px;
}

.site-two {
    left: 797px;
    top: 310px;
}

.site-three {
    left: 997px;
    top: 310px;
}

.site-four {
    left: 570px;
    top: 530px;
}

.portfolio .project:hover .site {
    opacity: 1;
    transform: scale(1);
}

.add-project {
    width: 180px;
    height: 125px;
    display: inline-block;
    margin: 20px 0px 80px 20px;
    background-color: #EDF8FC;
    border: 2px dashed;
    border-color: #7CC3D4;
/*    position: relative;*/
}

.add-project:hover {
    cursor: pointer;
}

.site-add {
    display: block;
    padding-top: 18px;
    text-decoration: none;
}

.add {
    color: #67BCCF;
    font-family: 'fira_sanslight';
    font-size: 13px;
    display: block;
    margin: 5px 0px 0px 42px;
}

.pic-add {
    margin: 25px 0px 0 75px;
}

.popup {
    width: 350px;
    overflow: hidden;
    background: #eff3f7;
	border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1000;
    display: none;
}

.h-name {
    margin: 0;
    color: #FFFFFF;
    font-family: 'fira_sansbook';
    font-size: 25px;
    padding-left: 10px;
    background: #48CBE8;
}

.close-popup {
    width: 28px;
    height: 28px;
    position: absolute;
    top: 5px;
    left: 310px;
    background: url(../Images/close-popup.png) 50% 50% no-repeat;
    border-radius: 50px;
    cursor: pointer;
}

.b-liner {
    border-bottom: 10px solid #6FE4FF;
    background-color: #67DFFA;
}

.form {
    padding-left: 35px;
}

.error-mes{
    width: 252px;
    height: 17px;
    margin-top: 10px;
    text-align: center;
    padding: 8px;
    color: black;
    border: 2px solid rgba(255, 0, 0, 0.5);
    background-color: rgba(255, 0, 0, 0.3);
    display:none;
    border-radius: 5px;
}

.success-mes{
    width: 270px;
    height: 35px;
    margin-top: 10px;
    text-align: center;
    color: black;
    border: 2px solid rgba(0, 255, 39, 0.5);
    background-color: rgba(0, 255, 39, 0.3);
    display:none;
    border-radius: 5px;
}

.form-name {
    color: #313339;
    font-family: 'fira_sanslight';
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    margin-top: 10px;
    display: inline-block;
}

.area {
    resize: none;
    width: 250px;
    height: 100px;
}

.button-add {
    color: #ffffff;
    font-family: 'fira_sansbook';
    font-size: 19px;
    background-color: #48CBE8;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 0px #3BA8C0;
    padding: 0px 25px;
    margin: 20px 0px 20px 70px;
}

.button-add:hover {
    position: relative;
    top: 1px;
    box-shadow: none;
}

.button-add:active {
    box-shadow: inset 0px 2px 0px #3BA8C0;
}

.common-placeholder {
    width: 250px;
    border: 2px solid #85DCEF;
    border-radius: 5px;
    padding: 10px;
}

::-webkit-input-placeholder {
    color: #85DCEF;
    font-family: 'fira_sanslight';
    font-size: 13px;
}

.common-placeholder::-webkit-input-placeholder {opacity: 1; transition: opacity 0.3s ease;}

.common-placeholder:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}


.overlay {
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 999;
    display: none;
}

.filename {
    background-color: #fff; 
}

.style-tooltip {
    color: white;
    border: 1px solid rgba(255, 0, 0, 0.5);
    background-color: rgba(255, 0, 0, 0.8);
    border-radius: 5px;
}

.error {
    border: 2px solid rgba(255, 0, 0, 0.5);
    background-color: rgba(255, 0, 0, 0.3);
}

.fileupload {
    opacity: 0;
    filter: alpha(opacity:0);
    width: 52px;
    height: 65px;
    position: relative;
    top: -25px;
    cursor: pointer;
}

.addproject-box {
    position: relative;
}

.add-proj{
	display: block;
    width: 52px;
    height: 38px;
	position: absolute;
    right: 13.4%;
    top: 2px;
	background: url(../Images/download.png) 50% 50% no-repeat;
	background-color: #48cbe8;
	border-radius: 0 3px 3px 0;
    cursor: pointer;
}
