html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    font: 15px Arial, sans-serif;
    color: #6B747C;
    background: url(../Images/background.png) repeat;
}

.header-wrapper {
    background: #EFF3F7 url(../Images/line.png) no-repeat 0% 99%;
    padding: 15px 0 40px 0px;
    min-width: 990px;
}

.header {
    max-width: 1400px;
    margin: -5px auto;
}

.clearfix:after {
    content: "";
    clear: both;
    display: table;
}

.wrapper {
	width:960px;
    margin: 0 auto;
    
    position: relative;
	min-height: 100%;
    min-width: 970px;
	height: auto!important;
	overflow: hidden;
}

.footer-wrapper{
    background: #EFF3F7 url(../Images/line.png) no-repeat 0% 1%;
    padding: 34px 24px 39px 0;
    min-width: 970px;
    height: 10px;
    margin-top: 62px;
	text-align: center;
}

.footer {
    width:960px;
    margin:0 auto;
}

.enter {
    position: absolute;
    left: 338px;
    text-decoration: none;
}

.to-enter {
    color: #555f67;
    background: url(../Images/close.png) no-repeat 0% ;
    padding: 32px 0 32px 32px;
    text-decoration: none;
}

.to-enter:hover {
    text-decoration: underline;
    background: url(../Images/open.png) no-repeat 0%;
}

.copyright{
    width: 599px;
    font-size: 13px;
    font-family: 'fira_sanslight';
    margin: -15px 0px 0px 285px;
}

.logo {
    margin: 16px 0 0 94px;
    float:left;
}

.social {
    margin: 12px 96px 0 0;
    float: right;
}

.social a {
    display: inline-block;
    width: 47px;
    height: 47px;
    background: url(../Images/social.png);
    border-radius: 50%;
}

.social a.vk {
   background-position: 0 0;
    margin-right: 24px;
}

.social a.twitter {
   background-position: -47px 0;
    margin-right: 24px;
}

.social a.facebook {
   background-position: -94px 0;
    margin-right: 24px;
}

.social a.github {
   background-position: -141px 0;
}

.social a.vk:hover {
   background: url(../Images/social2.png);
}

.social a.twitter:hover {
   background: url(../Images/tw.png);
}

.social a.facebook:hover {
   background: url(../Images/facebook.png);
}

.social a.github:hover {
   background: url(../Images/gihtub.png);
}

.menu {
    width: 250px;
    overflow: hidden;
    background: #eff3f7;
	border-radius: 4px;
	margin-top: 37px;
    float: left;
}

.menu .menu-ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu .menu-item {
   border-top: 2px solid #3ba8c0;
   margin: 0px 6px;
}

.menu .menu-item:first-child {
    border-top: none;
}

.menu .menu-item.active {
    background-color: #3BA8C0;
    margin: 0;
    margin-bottom: -2px;
    padding-left: 6px;
}

.menu .menu-item.active .menu-link {
    font-size: 22px;
    color: #ffffff;
}

.menu .menu-link {
    font-family: 'fira_sansbook';
    font-size: 20px;
    color: #ACB1BC;
    display: block;
    text-decoration: none;
    padding: 20px 22px;
}

.menu .menu-link:hover {
    color: #aae3f0;
}

.contact {
    width: 250px;
    margin-top: 24px;
    float: left;
    clear: both;
}

.contact_ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.h1 {
    margin: 0;
    background-color: #3ba8c0;
    color: #EEF6F9;
    font-family: 'fira_sansbook';
    font-size: 21px;
    padding: 5px 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.contact_ul a{
    color: #EEF6F9;
    display: block;
    font-family: 'fira_sansbook';
    font-size: 17px;
    background: url(../Images/spritesheet.png) no-repeat;
    padding: 6px 80px;
    text-decoration: none;
}

.contact_ul .email {
    background-position: 10px -13px;
    background-color: #41B9D4;
}

.contact_ul .tel {
    background-position: 10px  -152px;
    background-color: #48CBE8;
}

.contact_ul .skype {
    background: #41B9D4 url(../Images/skype.png) no-repeat 15% center;
}

.contact_ul .skype {
    background-color: #51DAF8;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.link:hover .sub-liner {
    padding-bottom: px;
    border-bottom: 1px solid #ffffff;  
}

.about_me {
    width: 650px;
    background-color: #EFF3F7;
    border-radius: 5px;
    padding-bottom: 50px;
    margin: 34px 0px 100px 309px;
}

.os { 
    font-family: 'fira_sansbook';
    font-size: 14px;
    color: #3BA8C0;
    padding: 15px 0px 15px 20px;
    margin: 0;
}

.h1-info {
    font-size: 27px;
    margin: 0;
}

.border {
    border-bottom: 2px solid #3BA8C0;
    width: 341px;
}

.pic {
    border: 4px solid #2AA3BB;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    overflow: hidden;
    margin: 35px 0 -177px 56px;
}

.me{
    position: relative;
    left: -26px;
    bottom: 28px;
}

.data_me {
    
    margin: 0px 0px 0px 230px;
}

.data_me .data_me-item {
    line-height: 20px;
    font-family: 'fira_sansbook';
    font-size: 14px;
}

.data_me .data_me-item .bold {
    font-family: 'fira_sansmedium';
    font-size: 17px;
}

.skills div {
    font-family: 'proxima_nova_condensedSBd';
    font-size: 14px;
    float: right;
    margin: -33px 195px 85px 0px;
    
/*margin: -33px 195px 85px 0px;*/
}

.skills .html {
    color: #FFFFFF;
    background-color: #3BA8C0;
    background-image: linear-gradient(transparent 50%, #2E8CA2 50%);
    padding: 2px 15px 2px 15px;
    border-radius: 5px;
}
        
.skills .css {
    color: #FFFFFF;
    background-color: #3BA8C0;
    background-image: linear-gradient(transparent 50%, #2E8CA2 50%);
    padding: 2px 15px 2px 15px;
    border-radius: 5px;
    margin: -33px -109px 0px 0px;
}

.skills .javascript {
    color: #FFFFFF;
    background-color: #3BA8C0;
    background-image: linear-gradient(transparent 50%, #2E8CA2 50%);
    padding: 2px 15px 2px 15px;
    border-radius: 5px;
    margin: -33px -199px 0px 0px;
}

.skills .gulp {
    color: #FFFFFF;
    background-color: #3BA8C0;
    background-image: linear-gradient(transparent 50%, #2E8CA2 50%);
    padding: 2px 15px 2px 15px;
    border-radius: 5px;
    margin: -4px -54px 0px 0px;
}

.skills .git {
    color: #FFFFFF;
    background-color: #3BA8C0;
    background-image: linear-gradient(transparent 50%, #2E8CA2 50%);
    padding: 2px 15px 2px 15px;
    border-radius: 5px;
    margin: -4px -107px 0px 0px;
}

.block1{
    width: 650px;
    background-color: #EFF3F7;
    border-radius: 5px;
    float: right;
    margin: -80px 10px 0 0;
}

.block1 .h2-experience{
    margin-top: 13;
    font-family: 'fira_sansbook';
    font-size: 26px;
    color:#3BA8C0;
    padding: 0px 0px 12px 22px;
    border-bottom: 2px solid #3BA8C0;
    width: 188px;
}

.block1 .p {
    width: 650px;
    margin: 22px 0 0 0;
}

.block1 .p1{
    background: url(../Images/ch.png) no-repeat 58px center;
    list-style: none;
}

.common-str1 {
    margin-left: 83px;
}

.block1 .p1 .string1 {
    font-family: 'fira_sansbook';
    font-size: 17px;
}

.block1 .p1 .string2 {
    font-family: 'fira_sanslight';
    font-size: 15px;
    margin-top: -5px;
}

.block1 .p2{
    padding-bottom: px;
    background: url(../Images/ch.png) no-repeat 58px center;
    list-style: none;
}

.block1 .p2 .string3 {
    font-family: 'fira_sansbook';
    font-size: 17px;
}

.block1 .p2 .string4 {
    font-family: 'fira_sanslight';
    font-size: 15px;
    margin-top: -7px;
}


.block2{
    width:650px;
    background-color: #EFF3F7;
    border-radius: 5px;
    float: right;
    margin: 20px 10px 0 0;
}

.block2 .h2-education{
    margin: 0;
    font-family: 'fira_sansbook';
    font-size: 26px;
    color:#3BA8C0;
    padding: 16px 0px 14px 23px;
    border-bottom: 2px solid #3BA8C0;
    width: 197px;
}

.common-str2 {
    margin-left: 83px;
}

.block2 .p3{
    background: url(../Images/uc.png) no-repeat 54px center;
    list-style: none;
}

.block2 .p3 .string5 {
    font-family: 'fira_sansbook';
    font-size: 17px;
}

.block2 .p3 .string6 {
    font-family: 'fira_sanslight';
    font-size: 15px;
}

.block2 .p4{
    list-style: none;
    background: url(../Images/list.png) no-repeat 62px center;
}

.block2 .p4 .string7 {
    font-family: 'fira_sansbook';
    font-size: 17px;
}

.block2 .p4 .string8 {
    font-family: 'fira_sanslight';
    font-size: 15px;
    margin-top: -5px;
}