.b-forms {
    width: 650px;
    float: right;
    background: #EFF3F7;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 50px;
}

.question {
    margin: 0;
    margin-bottom: 50px;
    width: 650px;    
    color: #FFFFFF;
    font-family: 'fira_sansbook';
    font-size: 27px;
    text-align: center;
    line-height: 120px;
    background: #48CBE8;
    border-bottom: 15px solid #6FE4FF;
    background-color: #67DFFA;
}

.b-inside-form {
    width: 445px;
    margin: 0 auto;
}

.common-input {
    border: 2px solid #85DCEF;
    border-radius: 5px;
    padding: 10px;
    color: #85DCEF;
}

.common-name {
    color: #B5B9C4;
    font-family: 'fira_sanslight';
    font-size: 19px;
}

.p-name {
    margin: 0;
    width: 40px;
}

.p-email {
    margin: 0;
}

.p-massage {
    margin: 0;
    width: 102px;
}

.b-input-name {
    float: left;
}

.b-input-email {
    float: right;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix {
    clear: both;
}

.b-input {
    margin-bottom: 20px;
}

.area-massage {
    resize: none;
    width: 420px;
    height: 180px;
    margin-bottom: 20px;
}

.error {
    border: 2px solid rgba(255, 0, 0, 0.5);
    background-color: rgba(255, 0, 0, 0.3);
}

.button1 {
    color: #ffffff;
    font-family: 'fira_sansbook';
    font-size: 19px;
    background-color: #48CBE8;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 0px #3BA8C0;
    padding: 5px 25px;
    float: left;
    margin: 50px 0px 0px 0px;
}



.button2 {
    color: #ffffff;
    font-family: 'fira_sansbook';
    font-size: 19px;
    background-color: #849DB5;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 0 #687B8F;
    padding: 5px 25px;
    float: right;
    margin: 50px 0px 50px 0;
}

.button1:hover {
    position: relative;
    top:1px;
    box-shadow: none;
}

.button2:hover {
    position: relative;
    top:1px;
    box-shadow: none;
}

.button1:active {
    box-shadow: inset 0px 2px 0px #3BA8C0;
}

.button2:active {
    box-shadow: inset 0px 2px 0px #687B8F;
}

::-webkit-input-placeholder {
    color: #85DCEF;
    font-family: 'fira_sanslight';
    font-size: 13px;
}

.common-input::-webkit-input-placeholder {opacity: 1; transition: opacity 0.3s ease;}

.common-input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}

.style-tooltip {
    color: white;
    border: 1px solid rgba(255, 0, 0, 0.5);
    background-color: rgba(255, 0, 0, 0.8);
    border-radius: 5px;
}

.recaptcha {
    width: 190px;
    height: 80px;
    border: 2px solid #85DCEF;
    background-color: #FBFCFD;
    border-radius: 5px;
    background: url(../Images/captha.png) no-repeat center;
    display: inline-block;
    float: left;
}

.captha-text {
    font-size: 17px;
    margin: 0;
}

.input-captha {
    float: right;
    margin-top: 20px;
}

.error-mes{
    width: 424px;
    height: 17px;
    margin-bottom: 85px;
    text-align: center;
    padding: 8px;
    color: black;
    border: 1px solid rgba(255, 0, 0, 0.5);
    background-color: rgba(255, 0, 0, 0.3);
    display:none;
    border-radius: 5px;
}

.success-mes{
    width: 420px;
    height: 17px;
    margin-bottom: 85px;
    text-align: center;
    padding: 8px;
    color: black;
    border: 2px solid rgba(0, 255, 39, 0.5);
    background-color: rgba(0, 255, 39, 0.3);
    display:none;
    border-radius: 5px;
}